:root {
  background-image: url(https://img.freepik.com/free-vector/flat-design-summer-duotone-pattern-design_23-2149487158.jpg?size=626&ext=jpg&ga=GA1.1.108891713.1682758951&semt=ais);
  

 
}



body {
  
  

}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

